/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
  box-sizing: border-box;
}

.container {
  border: 1px solid #bfd6e6;
  background-color: #dde9f3;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.activity {
  margin: 10px;
  background-size: cover;
  width: 300px;
  height: 200px;
}

.read {
  background-image: url("img/read.jpg");
  order: 1
}

.cook {
  background-image: url("img/cook.jpg");
  order: 6
}

.code {
  background-image: url("img/code.jpg");
  order: 2
}

.family {
  background-image: url("img/family.jpg");
  order: 3
}

.netflix {
  background-image: url("img/netflix.jpg");
  order: 5
}

.sleep {
  background-image: url("img/sleep.jpg");
  order: 4
}

/* --------------- */
/* zadání: 
Prohlédni si html soubor. Nastyluj obrázky, aby se zobrazily vedle sebe, vycentrovaly v obalovém divu a zalamovaly, pokud se nevejdou na stránku. 
Potom obrázky seřaď podle toho, jakou aktivitu budeš dělat dnes po lekci :)   */
